
.kzs-phone:before { content: '\e800'; } /* '' */
.kzs-location:before { content: '\e801'; } /* '' */
.kzs-clock:before { content: '\e802'; } /* '' */
.kzs-thumbs-up:before { content: '\e803'; } /* '' */
.kzs-ok:before { content: '\e804'; } /* '' */
.kzs-mail:before { content: '\e805'; } /* '' */
.kzs-twitter:before { content: '\f099'; } /* '' */
.kzs-angle-left:before { content: '\f104'; } /* '' */
.kzs-angle-right:before { content: '\f105'; } /* '' */
.kzs-angle-up:before { content: '\f106'; } /* '' */
.kzs-angle-down:before { content: '\f107'; } /* '' */
.kzs-rouble:before { content: '\f158'; } /* '' */
.kzs-youtube-play:before { content: '\f16a'; } /* '' */
.kzs-instagram:before { content: '\f16d'; } /* '' */
.kzs-vkontakte:before { content: '\f189'; } /* '' */