
.kzs-phone:before { content: '\e800'; } /* '' */
.kzs-location:before { content: '\e801'; } /* '' */
.kzs-clock:before { content: '\e802'; } /* '' */
.kzs-thumbs-up:before { content: '\e803'; } /* '' */
.kzs-ok:before { content: '\e804'; } /* '' */
.kzs-mail:before { content: '\e805'; } /* '' */
.kzs-rouble:before { content: '\f158'; } /* '' */
.kzs-instagram:before { content: '\f16d'; } /* '' */
.kzs-skype:before { content: '\f17e'; } /* '' */
.kzs-vkontakte:before { content: '\f189'; } /* '' */
.kzs-facebook-squared:before { content: '\f308'; } /* '' */