
.kzs-phone:before { content: '\e800'; } /* '' */
.kzs-location:before { content: '\e801'; } /* '' */
.kzs-clock:before { content: '\e802'; } /* '' */
.kzs-thumbs-up:before { content: '\e803'; } /* '' */
.kzs-ok:before { content: '\e804'; } /* '' */
.kzs-mail:before { content: '\e805'; } /* '' */
.kzs-left-open-mini:before { content: '\e806'; } /* '' */
.kzs-right-open-mini:before { content: '\e807'; } /* '' */
.kzs-up-open-mini:before { content: '\e808'; } /* '' */
.kzs-down-open-big:before { content: '\e809'; } /* '' */
.kzs-left-open-big:before { content: '\e80a'; } /* '' */
.kzs-right-open-big:before { content: '\e80b'; } /* '' */
.kzs-up-open-big:before { content: '\e80c'; } /* '' */
.kzs-box:before { content: '\e80d'; } /* '' */
.kzs-angle-left:before { content: '\f104'; } /* '' */
.kzs-angle-right:before { content: '\f105'; } /* '' */
.kzs-angle-up:before { content: '\f106'; } /* '' */
.kzs-angle-down:before { content: '\f107'; } /* '' */
.kzs-rouble:before { content: '\f158'; } /* '' */
.kzs-instagram:before { content: '\f16d'; } /* '' */
.kzs-skype:before { content: '\f17e'; } /* '' */
.kzs-vkontakte:before { content: '\f189'; } /* '' */
.kzs-facebook-squared:before { content: '\f308'; } /* '' */